body {
	margin: 0px;
}
.wrap {
	margin: 0 auto;
	width: 1180px;
		
}
.header {
	width: 100%;
    min-height: 620px;
    background: url(..//img/footer.png)no-repeat center top;
    list-style: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.menu {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
  	
}
.menu a {
    text-decoration: none;    
}
.head {
	display: flex;
	flex-direction: row;	
	justify-content: space-between;
	align-items: stretch;

}
.logo {
	margin-top: 21px;
}
.link {
	color: #838383;
    font-family: "ProximaNova-Semibold";
    font-size: 17px;
    font-weight: 400;
    line-height: 34.92px;   
	margin-top: 25px;
}	
.flex-element-0 {
	margin-left: 38px;
}
.flex-element-1 {
	margin-top: 21px;
}
.flex-element-2 {
	display: flex;
	margin-top: 25px;
}
.button {
	color: #ffffff;
	font-family: "ProximaNova-Semibold";
	font-size: 17px;
	font-weight: 400;
	line-height: 34.92px;
	padding: 10px 25px 10px 25px;
	background-color: #ec3a3a;
}
.content {
	display: flex;
	flex-direction:column;
	align-items: center;
}
h1 {
	color: #ffffff;
	font-family: "Proxima Nova - Semibold";
	font-size: 45px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin-top: 190px;

}
.info {
	text-align: center;
	color: #fefefe;
	font-family: "Proxima Nova";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}
.info-button {
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 20px;
	font-weight: 700;
	line-height: 46px;
	text-decoration: none;
	padding: 2px 55px 2px 54px;
	background-color: #ffffff47;
    opacity: 1.3;
    border: 2px solid #ffffff;
}
.flash {
	display: flex;
    justify-content: center;
	background-color: #ffffff;
	flex-wrap:wrap;
	}
.content1 {
	display: flex;
	flex-wrap:wrap;
}
.block {
  width: 22%;
  min-width: 260px;
  margin: 1em auto;
  padding: 0.5em;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
h2 {
	margin: 80px auto;
	text-align: center;
	color: #252525;
	font-family: "Proxima Nova - Semibold";
	font-size: 30px;
	font-weight: 400;
	line-height: 47px;
	text-transform: uppercase;
}
h3 {
	color: #000000;
	font-family: "Proxima Nova";
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.text {
	color: #000000;
	font-family: "Proxima Nova";
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.center-img {
	display: block;
	margin: 0 auto;
}
.video {
	background: url(..//img/benjamin-dada-323461.png)no-repeat center top;
	width: 100%;
    min-height: 350px;
    background-size: cover;
}
.video h2 {
	font-size: 30px;
    font-family: "ProximaNova";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.567;
    text-align: center;
    padding-top: 80px;
}    
.lock {
	font-size: 15px;
    font-family: "ProximaNova";
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-align: center;
     margin-top: -55px;    
}    	
.skidka {
	text-align: center;
	background: url(..//img/IMG.png)no-repeat center top;
	background-size: cover;
	width: 100%;
	min-height: 373px;
	padding-top: 80px;
	color: #ffffff;
	font-family: "Proxima Nova - Semibold";
	font-size: 30px;
	font-weight: 400;
	line-height: 47px;
	font-variant: small-caps;
}
.skidka h3 {
	color: #ffffff;
	font-family: "Proxima Nova - Semibold";
	font-size: 30px;
	font-weight: 400;
	line-height: 47px;
	text-transform: uppercase;
	}
.skidka p {
	margin-top: 20px;
}
.form-group .form-control {
    background: rgba(255, 255, 255, 0);
    border-radius: 0px;
    display: flex;
    border-radius: 0px;
    border: 2px solid #fff;
    width: 213px;
    height: 34px;
}
.form-inline {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
    height: 40px;
    border-radius: 0px;
    border: 2px solid #fff;
    color: #000000;
	font-family: "Proxima Nova - Semibold";
	font-size: 17px;
	font-weight: 400;
}
.content2 {
	display: flex;
	
}
.content2 {
	color: #252525;
	font-family: "Proxima Nova - Semibold";
	font-size: 30px;
	font-weight: 400;
	line-height: 220px;
	text-transform: uppercase;
	margin: 0px auto;
	text-align: center;
    
}
.form-control::placeholder {
  color: #fff;  
}